{% extends 'base.html' %}

{% block content %}
<div class="table-container">
  

    <h2 class="mb-4">Nuevo Paciente</h2>
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}

    
    <form method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" required>
        </div>
        
        <div class="mb-3">
            <label for="cedula" class="form-label">Cédula</label>
            <input type="text" class="form-control" name="cedula" id="cedula" required>
        </div>
        
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" id="direccion" required>
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" name="telefono" id="telefono" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>

        <div class="mb-3">
            <label for="aseguradora" class="form-label">Aseguradora:</label>
            <select class="form-control" name="aseguradora" id="aseguradora" required>
                <option value=""><Seleccione>></option>
                <option value="ARS Primera">ARS Primera</option>
                <option value="ARS Humano">ARS Humano</option>
                <option value="MAPFRE SALUD ARS">MAPFRE SALUD ARS</option>
                <option value="ARS Universal">ARS Universal</option>
                <option value="ARS Monumental">ARS Monumental</option>
                <option value="ARS Abel González">ARS Abel González</option>
                <option value="ARSSENASA :)">ARSSENASA :)</option>
            </select>
        </div>
        

        <div class="mb-3">
            <label for="num_aseguradora" class="form-label">Número de Aseguradora</label>
            <input type="text" class="form-control" name="num_aseguradora" id="num_aseguradora">
        </div>

        <div class="mb-3">
            <label for="nacimiento" class="form-label">Fecha de Nacimiento (dd/mm/yyyy)</label>
            <input 
                type="text" 
                class="form-control" 
                name="nacimiento" 
                id="nacimiento" 
                placeholder="dd/mm/yyyy"
                pattern="^(0[1-9]|[12]\d|3[01])/(0[1-9]|1[0-2])/\d{4}$" 
                required
                title="Ingrese una fecha en el formato dd/mm/yyyy. Por ejemplo: 31/01/2025."
            >
        </div>
        
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{ url_for('index') }}" class="btn btn-secondary me-md-2">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar Paciente</button>
        </div>
    </form>
</div>
{% endblock %}
