{% extends 'base.html' %}

{% block content %}
<div class="table-container">
    <h2 class="mb-4">Editar Cita</h2>

    <form method="post">
        <div class="mb-3">
            <label for="paciente_cedula" class="form-label">ID Paciente</label>
            <input type="number" class="form-control" name="paciente_cedula" id="paciente_cedula" required
                value="{{ pacientes['paciente_cedula'] }}">
        </div>

        <div class="mb-3">
            <label for="doctor_id" class="form-label">ID Doctor</label>
            <input type="number" class="form-control" name="doctor_id" id="doctor_id" required
                value="{{ pacientes['doctor_id'] }}">
        </div>

        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha (dd/mm/yyyy)</label>
            <input type="text" class="form-control" name="fecha" id="fecha" placeholder="dd/mm/yyyy"
                pattern="^(0[1-9]|[12]\d|3[01])/(0[1-9]|1[0-2])/\d{4}$" required
                title="Ingrese una fecha en el formato dd/mm/yyyy. Por ejemplo: 31/01/2025."
                value="{{ pacientes['fecha'].strftime('%d/%m/%Y') if pacientes['fecha'] else '' }}">
        </div>

        <div class="mb-3">
            <input type="time" class="form-control" name="hora" id="hora" min="08:00" max="18:00" required 
            value="{% if pacientes['hora'] %}{{ pacientes['hora'].strftime('%H:%M') }}{% endif %}">
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{{ url_for('indexCita') }}" class="btn btn-secondary me-md-2">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}