{% extends 'base.html' %}

{% block content %}
<div class="table-container">
    <div class="d-flex justify-content-between mb-4">
        <h2>Lista de Citas</h2>
        <a href="{{ url_for('crearCita') }}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Nueva Cita
        </a>
        <form id="filtroForm" action="{{ url_for('indexCita') }}" method="get"
            onsubmit="return validarYConvertirFecha()">
            <!-- 
            <input type="text" class="form-control" name="fecha" id="fecha" placeholder="dd/mm/yyyy"
                pattern="^(0[1-9]|[12]\d|3[01])/(0[1-9]|1[0-2])/\d{4}$" required
                value="{{ request.args.get('fecha', '') }}">-->

            <div class="form-group">
                <input type="date" class="form-control" name="fecha" id="fecha"
                    value="{{ request.args.get('fecha', '') }}">
            </div>

            <button type="submit" class="btn btn-sm btn-info">
                Filtrar
            </button>
            <a href="{{ url_for('indexCita') }}" class="btn btn-sm btn-warning">
                Reiniciar
            </a>

        </form>

        <script>
            /*
            function filtrarPorFecha() {
                const fechaInput = document.getElementById('fecha').value;
                if (fechaInput) {
                    // El input date ya devuelve el formato yyyy-mm-dd
                    window.location.href = "{{ url_for('indexCita') }}?fecha=" + fechaInput;
                } else {
                    window.location.href = "{{ url_for('indexCita') }}";
                }
            }
            /*
            function validarYConvertirFecha() {
                const input = document.getElementById('fecha');
                if (!input.checkValidity()) {
                    input.reportValidity();
                    return false;
                }

                // Convertir fecha para el backend
                const [day, month, year] = input.value.split('/');
                input.value = `${year}-${month}-${day}`;
                return true;
            }*/
        </script>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID Cita</th>
                    <th>ID Paciente</th>
                    <th>ID Doctor</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pacientes %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.paciente_id }}</td>
                    <td>{{ p.doctor_id }}</td>
                    <td>{{ p.fecha.strftime('%d/%m/%Y') if p.fecha else '' }}</td>
                    <td>{{ p.hora.strftime('%I:%M %p') }}</td>
                    <td class="action-buttons">



                        <!-- Botón para ver más detalles -->
                        <a href="{{ url_for('detalle_cita', id=p.id) }}" class="btn btn-sm btn-info">
                            Ver Más
                        </a>

                        <!-- Editar-->
                        <a href="{{ url_for('editarCita', id=p.id) }}" class="btn btn-sm btn-warning">
                            Editar
                        </a>

                        <!-- Eliminar -->
                        <form action="{{ url_for('eliminarCita', id=p.id) }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger"
                                onclick="return confirm('¿Estás seguro de eliminar esta cita?')">
                                Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay Citas registradas</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Atras
    </a>
</div>
{% endblock %}